<h4>Agregar</h4>

<form (ngSubmit)="emitCharacter()" class="form-group" >

  <div class="row">
    <div class="col-12">
      <input type="text" [(ngModel)] = "character.id" name="id" class="form-control mb-2" placeholder="Nombre">
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <input type="text" [(ngModel)] = "character.name" name="name" class="form-control mb-2" placeholder="Nombre">
    </div>
  </div>

    <div class="row">
      <div class="col-12">
        <input type="text" [(ngModel)] = "character.power" name="power" class="form-control mb-2" placeholder="Poder">
      </div>
    </div>

  <div class="row">
    <div class="col-12 d-grid gap-2">
      <button class="btn btn-primary btn-block" type="submit">Agregar</button>
    </div>
  </div>

  <!-- {{ character | json }} -->

</form>
